@each $size in $sizes {
  .h-fs--#{$size} {
    font-size: $size/10 + rem;
  }
}

@each $name, $breakpoint in $container-max-widths {
  @each $size in $sizes {
    @media screen and (max-width : map-get($container-max-widths, #{$name})) {
      .h-fs--#{$name}--#{$size} {
        font-size: $size/10 + rem;
      }
    }
  }
}
