@each $space in $spaces {
  .h-p--#{$space} {
    padding: #{$space/10}rem;
  }

  .h-py--#{$space} {
    padding: #{$space/10}rem 0;
  }

  .h-px--#{$space} {
    padding: 0 #{$space/10}rem;
  }

  .h-pt--#{$space} {
    padding-top: #{$space/10}rem;
  }

  .h-pr--#{$space} {
    padding-right: #{$space/10}rem;
  }

  .h-pb--#{$space} {
    padding-bottom: #{$space/10}rem;
  }

  .h-pl--#{$space} {
    padding-left: #{$space/10}rem;
  }

  .h-m--auto {
    margin: auto;
  }

  .h-m--#{$space} {
    margin: #{$space/10}rem;
  }

  .h-my--#{$space} {
    margin: #{$space/10}rem 0;
  }

  .h-mx--#{$space} {
    margin: 0 #{$space/10}rem;
  }

  .h-mt--#{$space} {
    margin-top: #{$space/10}rem;
  }

  .h-mr--#{$space} {
    margin-right: #{$space/10}rem;
  }

  .h-mb--#{$space} {
    margin-bottom: #{$space/10}rem;
  }

  .h-ml--#{$space} {
    margin-left: #{$space/10}rem;
  }
}

@each $name, $breakpoint in $container-max-widths {
  @each $space in $spaces {
    @media screen and (max-width : map-get($container-max-widths, #{$name})) {
      .h-p--#{$name}--#{$space} {
        padding: #{$space/10}rem;
      }

      .h-py--#{$name}--#{$space} {
        padding: #{$space/10}rem 0;
      }

      .h-px--#{$name}--#{$space} {
        padding: 0 #{$space/10}rem;
      }

      .h-pt--#{$name}--#{$space} {
        padding-top: #{$space/10}rem;
      }

      .h-pr--#{$name}--#{$space} {
        padding-right: #{$space/10}rem;
      }

      .h-pb--#{$name}--#{$space} {
        padding-bottom: #{$space/10}rem;
      }

      .h-pl--#{$name}--#{$space} {
        padding-left: #{$space/10}rem;
      }

      .h-m--#{$name}--#{$space} {
        margin: #{$space/10}rem;
      }

      .h-my--#{$name}--#{$space} {
        margin: #{$space/10}rem 0;
      }

      .h-mx--#{$name}--#{$space} {
        margin: 0 #{$space/10}rem;
      }

      .h-mt--#{$name}--#{$space} {
        margin-top: #{$space/10}rem;
      }

      .h-mr--#{$name}--#{$space} {
        margin-right: #{$space/10}rem;
      }

      .h-mb--#{$name}--#{$space} {
        margin-bottom: #{$space/10}rem;
      }

      .h-ml--#{$name}--#{$space} {
        margin-left: #{$space/10}rem;
      }
    }
  }
}
