.footer {
  background-color: $primary;
  color: $white;
  height: 20rem;
  p {
    margin: 0;
  }

  &__logo {
    width: 14rem;
    height: 100%;
  }
  &__bottom {
    border-top: 1px solid $brown;
    height: 5rem;
    font-size: 15px;
    color: $brown;
    margin: 0 6.5rem;
    display: flex;
    align-items: center;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__icons {
      display: flex;
    }
    &__icon {
      width: auto;
      height: 25px;
    }
  }
}
footer {
  background-color: $primary;
}
