.navigation {
  background-color: $primary;
  height: 16rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  .nav-color {
    background-color: $brown;
    width: 100%;
    position: absolute;
    height: 4rem;
    &.first {
      top: 0;
    }
    &.second {
      bottom: 0;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 16rem;
  }
  .custom-logo-link {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    .custom-logo {
      width: 12rem;
      height: 100%;
    }
  }
  ul {
    display: flex;
    align-items: center;
    li {
      list-style: none;
      display: inline;
      margin-right: 5.5rem;
      &:last-child {
        margin-right: 0;
      }
      a {
        &:hover {
          color: $brown;
        }
      }
    }
  }
}
