.home-page {
  &__slider-image {
    height: 50vh !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__slider__wrapper {
    margin-bottom: 10rem;
  }
  &__inner-wrapper {
    align-items: center;
    height: 50vh;
    width: 90rem;
    margin-left: 30px;
  }

  &__slider-title {
    color: $white;
  }

  &__slider-text {
    color: $white;
  }

  &__slider-button {
    color: $white;
    text-decoration: none;
  }

  &__products {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .single-product {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__product-image {
    height: 25rem;
    width: auto;
    max-width: 100%;
    margin-bottom: 2.5rem;
    box-shadow: 0 18px 40px -5px;
  }

  &__product-title {
    font-size: 2rem;
    font-weight: 600;
    color: $primary;
  }

  &__product-button {
    margin-top: auto;
    width: 15.5rem;
  }

  &__about {
    margin-bottom: 10rem;
    background-color: $brown;
    color: #fff;
    min-height: 30rem;
    text-align: center;
  }
  &__about-inner {
    justify-content: center;
    align-items: center;
    min-height: 30rem;
    padding: 5rem;
  }

  &__partner-image {
    height: 35px;
    width: auto;
    margin-right: 3rem;
    &:last-child {
      margin-right: 0;
    }
  }
  &__partner-title {
    color: $primary;
    text-align: center;
    margin-bottom: 5rem;
  }
  &__partners-inner {
    margin-bottom: 10rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.slick-arrow {
  position: absolute;
  z-index: 1;
}

.slick-prev {
  position: absolute;
  top: 25%;
  left: 0;
  background: transparent;
  font-size: 7rem;
  padding: 2rem;
  color: white;
}
.slick-prev:hover {
  background: transparent;
  border-radius: 100%;
}

.slick-next {
  position: absolute;
  top: 25%;
  right: 0;
  background: transparent;
  font-size: 7rem;
  padding: 2rem;
  color: white;
}

.slick-next:hover {
  background: transparent;
}

.slick-prev:before {
  display: block;
}
.slick-next:before {
  display: block;
}
