body {
  margin: 0;
  overflow-x: hidden;
}

button {
  border: none;
  background: transparent;
}

* {
  &:focus {
    outline: none !important;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

iframe {
  border: none;
}
