@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700&display=swap");

body,
button,
input,
textarea,
select {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  color: $dark-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  margin-bottom: 2rem;
}

a {
  color: $dark-gray;
  transition: 0.3s color;
  text-decoration: underline;
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.55;
  margin: 0;
  margin-bottom: 2.5rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.8rem;
}

h4 {
  font-size: 3.6rem;
}

h5 {
  font-size: 2.8rem;
}

h6 {
  font-size: 1.8rem;
}

ul,
ol {
  padding-left: 2rem;
  font-size: 1.6rem;
  line-height: 1.55;
}

ul {
  list-style-type: disc;
}

code {
  font-size: 1.3rem;
}
