/* Colors */
$primary: #211f20;
$secondary: #076c32;
$red: #ec1824;
$black: #000;
$brown: #d0ab67;
$green: #0ba54e;
$white: #fff;
$gray: #838889;
$light-gray: #e3e7e8;
$dark-gray: #161619;
$blue: #0032a080;

$colors: (
  "primary": #211f20,
  "secondary": #076c32,
  "black": #000,
  "brown": #d0ab67,
  "green": #0ba54e,
  "white": #fff,
  "gray": #838889,
  "light-gray": #e3e7e8,
  "red": #ec1824,
  "blue": #0032a080,
);

/* Font Sizes */
$sizes: (10, 12, 14, 16, 18, 20, 24, 26, 28, 32, 44, 50);

/* Font Weights */
$weights: (300, 400, 500, 700);

/* Spaces */
$spaces: (
  200,
  150,
  120,
  100,
  80,
  70,
  60,
  50,
  40,
  30,
  25,
  20,
  15,
  10,
  5,
  2,
  0,
  -25
);

/* Breakpoints */
$container-max-widths: (
  xs: 0,
  sm: 575px,
  md: 767px,
  lg: 991px,
  xl: 1199px,
) !default;
