/*
Theme Name:     FRONTEND
Author:         Splendex Kft.
Author URI:     http://splendex.io
Description:  	Splendex Wordpress Theme
Version:      	1.0.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
*/

/* Base */
@import "reset";
@import "variables";
@import "typography";

/* Helpers */
@import "helpers/colors";
@import "helpers/font-sizes";
@import "helpers/font-weights";
@import "helpers/spacing";
@import "helpers/text";
@import "helpers/grid";

/* Pages */
@import "page-home";
@import "footer";
@import "navigation";

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
video,
iframe {
  max-width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  object-position: center;
  object-fit: cover;
}

.button {
  border: none;
  display: inline-block;
  padding: 0 4.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 5rem;
  background-color: $brown;
  text-decoration: none;
  -webkit-appearance: none;
}

@media screen and (max-width: map-get($container-max-widths, md )) {
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.6rem;
  }
}
